// sidebar

aside {
  h4 {
    margin-bottom: map_get($spacers, 3);
  }

  .card {
    border: none;
    box-shadow: none;
    background-color: transparent;

    .card-title {
      margin-bottom: map_get($spacers, 2);
      font-size: $h2-font-size;
      font-weight: $font-weight-semibold;
    }
    &.card-default {
      .card-heading {
        border-bottom: none;
        padding-left: 0;
        padding-right: 0;
      }

      > .card-heading > .card-title {
        color: $body-color;
        font-weight: $font-weight-semibold;
        border-bottom: 1px solid $sand;
        padding: 10px 0;
      }
    }


    > .card-body {
      padding: 0;
      .card-title{
        font-weight: $font-weight-semibold;
      }
    }
  }

  .nav-panel {
    .nav {
      flex-wrap: initial;
    }
    > .nav > .active > a{
      border-bottom: $highlight-border-size solid $primary;
    }
    .active > a {
      font-weight: $font-weight-bold;
    }
    .nav-link[aria-expanded=true] i.fa-chevron-down {
      transform: rotate(180deg);
    }
    .nav-link, .nav-item {
      clear: left;
    }
  }

  .box {
    .nav-link,
    .nav a ,
    .dropdown-menu .dropdown-item {
      text-decoration: none;
    }
  }

  .box-monthlynews a .value {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  .last-seen-link {
    text-decoration: underline;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    display: block;
  }
}

.box-categories .dropdown {
   .collapse {
      background: $gray-lighter;
   }
}

.box-filter-characteristics, .box-filter-manufacturer {
  .filter-img {
    width: auto;
    height: 45px;
    margin: 0.2rem;
    border: 3px solid transparent;
  }

  .active .filter-img {
    border: 3px solid $primary;
    border-radius: $border-radius;
  }
}

// boxes
.box_login {
  .register {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
      background: $sand;
    }
    .fa {
      color: $primary;
    }
  }
  .resetpw {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}
.box-slider .more {
  padding: $nav-link-padding-x;
  margin-top: -$nav-link-padding-x;
}

//searchcloud
$jqcloud-classes: 7;
@for $i from 0 through $jqcloud-classes {
  .jqcloud-word.w#{$i} {
    color: theme-color-level(primary, ($i - 5));
    font-size: 100% + $searchcloud-font-size-scaling*($i - 1);
  }
}

.jqcloud {
  line-height: normal;
  overflow: hidden;
  position: relative;
}

.jqcloud-word a {
  color: inherit !important;
  font-size: inherit !important;
  text-decoration: none !important;
  &:hover {
    color: $link-hover-color !important;
  }
}

.searchcloud {
  width: 100%;
  height: 200px;
}


#footer-boxes .card {
  background: transparent;
  border: 0;
  a {
    text-decoration: none;
  }
}
