// theme buttons
.btn { text-decoration: none; }

.btn-primary {
  @include button-variant($primary, $primary, $primary, $primary, $primary, $primary);
  color: $gray-dark;
  text-decoration: none;
  border-width: 2px;
  position: relative;
  overflow: hidden;
  &::after {
    content: '';
    background-color: $white;
    opacity: .2;
    width: 40px;
    height: 100px;
    position: absolute;
    top: -33px;
    left: -200%;
    transform: rotateZ(45deg);
  }
  @include hover {
    color: $gray-dark;
    &::after {
      transition: all 0.9s ease;
      left: 200%;
    }
  }
}

.btn-secondary {
  @include button-variant($secondary, $primary, $primary, $primary, $primary, $primary);
  color: $gray-dark;
  text-decoration: none;
  border-width: 1px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    background-color: $primary;
    height: 100%;
    left: -100%;
    top: 0;
    transform: skew(50deg);
    transition: 0.6s;
    transform-origin: top left;
    width: 0;
  }
  @include hover {
    color: $gray-dark;
    background: transparent;
    &::before {
      height: 100%;
      width: 200%;
    }
  }
}

.btn-secondary.disabled, .btn-secondary:disabled {
  color: #b8b8b8;
}

.btn-light {
  @include button-variant(#fff, $gray-dark, $sand, $gray-dark, $sand, $gray-dark);
  color: $gray-dark;
  text-decoration: none;
  transition-property: box-shadow;
  transition-duration: .3s;
  @include hover {
    color: $gray-dark;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  }
}

.badge-circle {
  background-color: $white;
  -webkit-box-shadow: none;
  box-shadow: none;
  min-width: 44px;
  width: 44px;
  height: 44px;
  border: 2px solid $gray;
  opacity: 0.7;
  color: $gray;
  font-size: 18px !important;
  line-height: 15px !important;
  border-radius: 50% !important;
  padding: 0;
  &::before { display: none; }
  &.circle-small {
    width: 36px;
    height: 36px;
    min-width: 36px;
    font-size: 14px !important;
    line-height: 12px !important;
  }
  &:hover, &:focus {
    background-color: $primary;
    border-color: $primary;
    color: $white;
    opacity: 1;
  }
}

.badge-circle-1 {
  background-color: $white;
  -webkit-box-shadow: none;
  box-shadow: none;
  min-width: 44px;
  width: 44px;
  height: 44px;
  border: 1.5px solid $gray;
  opacity: 0.8;
  color: $gray;
  font-size: 18px;
  line-height: 15px;
  border-radius: 50% !important;
  transition: all .2s;
  &::before { display: none; }
  &.circle-small {
    width: 36px;
    height: 36px;
    min-width: 36px;
    font-size: 14px !important;
    line-height: 12px !important;
  }
  &:hover {
    color: $gray-dark;
    border-color: $gray-dark;
    opacity: 1 !important;
    background: #fff;
  }
  &.on-list {
    animation: size .4s;
    color:#fff;
    opacity: 1.0;
    border: 1.5px solid $primary;
    background-color: $primary;
  }
}

#add-to-cart .btn{
  .btn-basket-check {
    /* this is the button text message */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    white-space: nowrap;
  }
  svg {
    /* this is the check icon */
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    /* move the icon on the right - outside the button */
    //transform: translateX(50%) translateY(-50%);
  }
  &.is-added .btn-basket-check {
    /* product added to the cart - hide text message on the left with no transition*/
    color: transparent;
    top: 50%;
    transform: translateY(-50%);
  }
  &.is-added svg {
    /* product added to the cart - move the svg back inside the button */
    top: 50%;
    transform: translateY(-50%);
  }
}

.btn-icon-secondary {
  border-color: $gray-dark;
  color: $gray-dark;
  background-color: transparent;
  @include hover {
    border-color: $gray-dark;
    color: $white;
    background-color: $gray-dark;
  }
}

.btn-outline-secondary { border-color: $gray-darker; background-color: transparent; color: $yiq-text-dark;
  @include hover { border-color: $gray-darker; background-color: $gray-medium; color: $yiq-text-dark; }

  &:focus, &.focus { border-color: $gray-darker; background-color: transparent; color: $yiq-text-dark; }

  &.disabled, &:disabled { background-color: transparent; color: $gray-medium; border-color: $gray-medium; }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  .show > &.dropdown-toggle { border-color: $gray-darker; background-color: $gray-medium; color: $yiq-text-dark; }
}

.btn-danger {
  color: $white;
  &:hover {
    color: $white;
  }
}

.btn-outline-danger:hover {
  &:hover {
    color: $white;
  }
}

.btn-icon { @include button-size($btn-padding-x / 1.4, $btn-padding-x / 1.4, $btn-font-size * 1.15, 1, 50%); border-width: rem($btn-border-width + 1px);
  > [class*='fa-'] { width: 1.25em; height: 1.25em; line-height: 1.25em; }

  &.btn-sm { @include button-size($btn-padding-x-sm / 1.4, $btn-padding-x-sm / 1.4, $btn-font-size-sm * 1.15, 1, 50%); border-width: rem($btn-border-width); }
  &.btn-lg { @include button-size($btn-padding-x-lg / 1.4, $btn-padding-x-lg / 1.4, $btn-font-size-lg * 1.15, 1, 50%); }
}

.btn-icon-primary { border-color: map-get($grays, dark); color: map-get($grays, dark); background-color: $white;
  @include hover { border-color: $primary;}

  &.disabled, &:disabled { background-color: $gray-medium; color: $white; border-color: $gray-medium; }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  .show > &.dropdown-toggle { border-color: $primary; background-color: $primary; color: $white; }
}

.btn-dark {
  color: $gray-lighter;
  background-color: $gray-darker;
  border-color: $gray-darker;
  -webkit-box-shadow: none;
  box-shadow: none;
  &:hover {
    background-color: $gray;
    border-color: $gray;
    color: $gray-lighter;
  }
}