.image-box {
  position: relative;
}

/*Variante C*/
.ribbon-c {
  position: absolute;
  padding: map-get($spacers, 1) $spacer;
  float: left;
  background-color: #eee;
  font-weight: $font-weight-bold;
  font-size: $font-size-sm;
  color: #fff;
  z-index: $zindex-dropdown + 1;
  box-shadow: 0.125rem 0.125rem 0.125rem rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  transition: top 0.2s, left 0.2s, right 0.2s, bottom 0.2s;
  &::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 100%;
    border-left: 20px solid #eee;
    border-right: 20px solid #eee;
    border-bottom: 10px solid transparent;
  }
  @each $bgcolor, $value in $ribbon-bg-colors {
    &.ribbon--#{$bgcolor} { background-color:  $value; color: map_get($ribbon-colors, $bgcolor);
      &::after{
        border-color: darken($value,10%) darken($value,10%) transparent;
      }
    }
  }

  &.ribbon-top-left {
    top: 5%;
    left: 0;
    margin-left: -20px;
    &::after {
      left: 0;
      border-left: 0;
    }
  }
  &.ribbon-top-right {
    top: 5%;
    right: 0;
    margin-right: -20px;
    &::after {
      right: 0;
      border-right: 0;
    }
  }
  &.ribbon-bottom-left {
    bottom: 5%;
    left: 0;
    margin-left: -20px;
    &::after {
      left: 0;
      border-left: 0;
    }
  }
  &.ribbon-bottom-right {
    bottom: 5%;
    right: 0;
    margin-right: -20px;
    &::after {
      right: 0;
      border-right: 0;
    }
  }
}

/* sliders */
.evo-slider {
  .slick-slide {
    padding-top: 10px;
    bottom: 10px;
    .img-fluid {
      width: 100%;
    }
  }
  .ribbon-c {
    font-size: 0.8rem;
    padding: 4px 8px;
  }
}

@include media-breakpoint-up(md) {
  .product-cell.hover-enabled {
    &:hover {
      .ribbon-top-left {
        top: -10%;
        left: -5%;
      }
      .ribbon-top-right {
        top: -10%;
        right: -5%;
      }
      .ribbon-bottom-left {
        left: -5%;
      }
      .ribbon-bottom-right {
        right: -5%;
      }
    }
  }
}
