.slick-slide{
  text-align: center;
  img {
    display: block;
    margin: 0 auto;
  }
}

.slick-loading .slick-list {
  background: #fff url('../base/images/loader.gif') center center no-repeat;
}

.slick-initialized .slick-slide {
  padding: 0 map_get($spacers, 1);
}

.slick-prev,
.slick-next {
  position: absolute;
  font-size: 0;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 45%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  border: none;
  outline: none;

  &:hover,
  &:focus {
    outline: none;
    background: transparent;
  }

  .slick-disabled:before {
    opacity: 0.25;
  }

  &::before {
    font-family: "Font Awesome 5 Free", Arial, sans-serif;
    font-weight: 900;
    font-size: 20px;
    line-height: 1;
    color: #cccccc;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.slick-prev {
  z-index: 2;
  left: 0;

  &[dir="rtl"] {
    left: auto;
    right: 0;
  }

  &::before {
    content: '\f053';
  }
}

.slick-next {
  z-index: 2;
  right: 0;

  &[dir="rtl"] {
    left: 0;
    right: auto;
  }

  &::before {
    content: '\f054';
  }
}

.slick-dotted {
  margin-bottom: 30px;
}

.slick-dots {
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%;

  li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;

    button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0;
      font-size: 0;
      color: transparent;
      padding: 5px;
      cursor: pointer;

      &:hover,
      &:focus {
        outline: none;

        &::before {
          opacity: 1;
        }
      }

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        content: '\f111';
        width: 20px;
        height: 20px;
        font-family: "Font Awesome 5 Free", Arial, sans-serif;
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: #000000;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }
  }
}

.slick-dots li.slick-active button:before {
  color: $gray-700;
  opacity: 0.75;
}

// slick
.evo-slider,
.news-slider {
  .slick-prev,
  .slick-next {
    padding: ($spacer * 1.7) ($spacer / 2);
    background: $sand;
    &::before {
      color: $gray-dark;
    }
    &:hover, &:focus {
      background: $primary;
    }
  }
  .slick-arrow {
    transition: all .2s ease-in-out;
  }
}

.news-slider .slick-slide{
  text-align: left;
}

/* Artikel Bilder Slider vertikal */
.slick-down ,
.slick-up {
  outline: none;
  background: transparent;
  border: none;
  font-size: 20px;
  line-height: 1;
  padding: 0;
  width: 19px;
  height: 19px;
  color: #ccc;
  opacity: 0.75;

  &:focus {
    outline: none;
  }

  &:hover {
    opacity: 1;
  }
}

#freegift .slick-list{
  padding-top: 25px;
}