{config_load file="$lang.conf" section='bestellungen'}
{include file='tpl_inc/header.tpl'}

<h1>{__('permissionDenied')}</h1>
<div class="alert alert-danger clear">
    <p>{__('noPermissionForPage')}</p>
    <p>{__('contactAdminForPermission')}</p>
</div>
{include file='tpl_inc/footer.tpl'}