.opc-Video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 64px;
  text-align: center;
  color: #5cbcf6;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  background-color: #fff;

  > div {
    font-size: 14px;
  }

  i {
    font-size: 28px;
    margin-right: 6px;
    vertical-align: middle;
  }
}