// mixins
@mixin fa($var) { content: #{"'\\" + $var + "'"} !important; font-family: 'Font Awesome 5 Free' !important; }
@mixin far($var) { @include fa($var); font-weight: 400; }
@mixin fas($var) { @include fa($var); font-weight: 900; }

@mixin font-face($name, $path, $locals: '', $style: null, $weight: null, $ucrange: '', $exts: eot woff2 woff ttf svg) {
  $src: null;

  $extmods: (
          eot: '?',
          svg: '#' + str-replace($name, ' ', '_')
  );

  $formats: (
          otf: 'opentype',
          ttf: 'truetype'
  );

  @each $local in $locals {
    $src: append($src, local($local));
  }

  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + '.' + $extmod)) format(quote($format)), comma);
  }

  @font-face { font-family: quote($name); font-style: $style; font-weight: $weight; src: $src; unicode-range: unquote($ucrange); font-display: swap;}
}

@mixin text-truncate-overflow() {
  position: relative;
  display: inline-block;
  height: ($headings-line-height * 2rem - 0.1);
  overflow: hidden;
  padding-right: 1rem; /* space for ellipsis */

  &::before {
    position: absolute;
    content: "...";
    /*   inset-block-end: 0;
      inset-inline-end: 0; */
    bottom: 0;
    right: 0;
  }
  &::after {
    content: "";
    position: absolute;
    /*   inset-inline-end: 0; */
    right: 0;
    width: 1rem;
    height: 1rem;
    background: white;
  }
}

@mixin text-truncate-fade() {
  position: relative;
  display: inline-block;
  height: ($headings-line-height * 2rem);
  overflow: hidden;
  &::after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70%;
    height: ($headings-line-height * 1rem);
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
  }
}