// colors

$gray-lighter:                      #f5f7fa;
$gray-light:                        #9b9b9b;
$gray:                              #707070;
$gray-dark:                         #525252;
$gray-medium:                       #ebebeb;
$gray-darker:                       #525252;
$sand:                              #ebebeb;
$cool-white:                        #f8f8f8;
$primary:                           #F8BF00;
$secondary:                         transparent;
$success:                           #088319;
$bg-success:                        #CDE1D6;
$info:                              #525252;
$bg-info:                           #F5F7FA;
$warning:                           #F39932;
$bg-warning:                        #F9F2DC;
$danger:                            #B90000;
$bg-danger:                         #E8CCD2;

$white:                             #ffffff;

$dark:                              $gray-dark;
$gray-100:                          $gray-lighter;
$gray-500:                          $gray-light;
$gray-600:                          $gray;
$gray-700:                          $gray-dark;

$yiq-text-dark:                     $gray-darker;
$yiq-text-light:                    $gray-light;

// spacer

$spacer: 1rem;
$spacers: (
        0:                                0,
        1:                                ($spacer * .25),
        2:                                ($spacer * .5),
        3:                                $spacer,
        4:                                ($spacer * 1.5),
        5:                                ($spacer * 2),
        6:                                ($spacer * 3),
        7:                                ($spacer * 4),
        8:                                ($spacer * 5)
);

// grid

$grid-gutter-width:                 map-get($spacers, 5);

/* grid breakpoints */

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1300px
);

/* grid containers */

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1250px
);

// font

$font-family-sans-serif:            "Open Sans", Helvetica, Arial, sans-serif;
$line-height-base:                  1.5;

$font-family-sans-serif:            'Open Sans', sans-serif;
$font-accent:                       Montserrat, sans-serif;

$font-size-base:                    .95rem;
$font-size-lg:                      $font-size-base * 1.25;
$font-size-sm:                      $font-size-base * .875;
$font-size-xs:                      $font-size-base * .75;

$font-weight-normal:                400;
$font-weight-semibold:              600;
$font-weight-bold:                  600;

// heading

$h1-font-size:                      $font-size-base * 1.7;
$h2-font-size:                      $font-size-base * 1.5;
$h3-font-size:                      $font-size-base * 1.125;
$h4-font-size:                      $font-size-base;
$h5-font-size:                      $font-size-base;
$h6-font-size:                      $font-size-base;

$headings-margin-bottom:            $spacer;
$headings-font-family:              $font-accent;
$headings-font-weight:              $font-weight-normal;
$headings-color:                    $gray-darker;

// buttons

$btn-box-shadow:                    none;
$btn-active-box-shadow:             none;
$btn-focus-box-shadow:              none;
$btn-decoration:                    none;
$btn-hover-decoration:              none;
$btn-font-weight:                   $font-weight-semibold;

// transition

$transition-base-duration	: .2s;
$transition-base-timing 	: ease-in-out;
$transition-base			: all $transition-base-duration $transition-base-timing;

// styles

$highlight-border-size:             .375rem;

$body-bg:                           $gray-100;
$body-color:                        $gray-600;

$text-muted:                        $gray;
$input-color-placeholder:           $gray;

/* links */

$link-color:                        $gray-darker;
$link-decoration:                   underline;
$link-hover-color:                  $primary;
$link-hover-decoration:             none;

//$breadcrumb-divider:                "/";
$breadcrumb-active-color:           $gray-dark;

$border-radius:                     .125rem !default;
$border-radius-lg:                  $border-radius;
$border-radius-sm:                  $border-radius;

$border-width:                      1px;
$border-color:                      $gray-medium;

$card-bg:                           #fff;

$searchcloud-font-size-scaling:     30%;
$navbar-light-color:                $gray-dark;

$input-bg:                          #fff;
$input-focus-box-shadow:            none;
$list-group-bg:                     #fff;
$list-group-disabled-bg:            #fff;

$progress-bar-color:                $gray;

/* tables */

$table-accent-bg:                   $gray-lighter;
$table-hover-bg:                    $gray-lighter;

$table-cell-padding:               (map-get($spacers, 1) * 3) $spacer;
$table-cell-padding-sm:             map-get($spacers, 2) $spacer;

$table-striped-order:               even;

$sizes: (
  20:                               20%,
  40:                               40%,
  60:                               60%,
  80:                               80%
);

// paths

$url-0:                             url(../base/images/loading.gif);
$url-1:                             url(../base/images/loading-sm.gif);

// tooltips

$tooltip-font-size:                 $font-size-base/1.15;
$tooltip-color:                     $gray-dark;
$tooltip-bg:                        #fff;
$tooltip-border-radius:             $border-radius;
$tooltip-arrow-color:               $gray-dark;
$tooltip-arrow-inner-color:         #fff;

$tooltip-arrow-inner-width:         .8rem;
$tooltip-arrow-inner-height:        .4rem;
$tooltip-arrow-width:               .88rem;
$tooltip-arrow-height:              .45rem;

$tooltip-margin:                    .25rem;

// input

$border-width:                      1px;
$input-btn-padding-y:               rem(10px);
$input-btn-padding-x:               rem(15px);
$input-btn-padding-y-sm:            rem(6px);
$input-btn-font-size-sm:            $font-size-base;

$input-height:                      calc(#{$line-height-base * 1em} + #{$input-btn-padding-y * 2} + #{$border-width * 2});
$input-border-color:                $gray;
$custom-select-indicator-padding:   rem(30px);
$custom-select-indicator-color:     $white;
$custom-select-indicator-bg:        $input-border-color;
$custom-select-box-shadow:          none;



// pagination

$pagination-border-width:           0;
$pagination-bg:                     transparent;

$pagination-hover-bg:               transparent;

$pagination-active-bg:              transparent;
$pagination-active-color:           $link-color;

$pagination-focus-box-shadow:       none;

$pagination-disabled-color:         $sand;
$pagination-disabled-bg:            transparent;

// breadcrumbs

$breadcrumb-bg:                     transparent;
$breadcrumb-divider-color:          $gray-dark;
$breadcrumb-active-color:           $gray-dark;

$tap-target-size:                   44px;
$tap-target-size-sm:                36px;

//BESTSELLER, 1
$ribbon-bg-1:                       #eeb728;
$ribbon-color-1:                    #fff;
//SPECIALOFFERS, 2
$ribbon-bg-2:                       #4bc223;
$ribbon-color-2:                    #fff;
//NEWPRODUCTS, 3
$ribbon-bg-3:                       #525252;
$ribbon-color-3:                    #fff;
//TOPOFFERS, 4
$ribbon-bg-4:                       #c3ebe6;
$ribbon-color-4:                    $gray-dark;
//UPCOMINGPRODUCTS, 5
$ribbon-bg-5:                       #b9056f;
$ribbon-color-5:                    #fff;
//TOPREVIEWS, 6
$ribbon-bg-6:                       #ebebeb;
$ribbon-color-6:                    $gray-dark;
//OUTOFSTOCK, 7
$ribbon-bg-7:                       #b9080e;
$ribbon-color-7:                    #fff;
//ONSTOCK, 8
$ribbon-bg-8:                       #0f8662;
$ribbon-color-8:                    #fff;
//PREORDER, 9
$ribbon-bg-9:                       #f78e26;
$ribbon-color-9:                    #fff;

$ribbon-colors				: ();
$ribbon-colors: map-merge((
        '1' : $ribbon-color-1,
        '2' : $ribbon-color-2,
        '3' : $ribbon-color-3,
        '4' : $ribbon-color-4,
        '5' : $ribbon-color-5,
        '6' : $ribbon-color-6,
        '7' : $ribbon-color-7,
        '8' : $ribbon-color-8,
        '9' : $ribbon-color-9
), $ribbon-colors);

$ribbon-bg-colors				: ();
$ribbon-bg-colors: map-merge((
        '1' : $ribbon-bg-1,
        '2' : $ribbon-bg-2,
        '3' : $ribbon-bg-3,
        '4' : $ribbon-bg-4,
        '5' : $ribbon-bg-5,
        '6' : $ribbon-bg-6,
        '7' : $ribbon-bg-7,
        '8' : $ribbon-bg-8,
        '9' : $ribbon-bg-9
), $ribbon-bg-colors);

$navbar-nav-link-padding-x: map-get($spacers, 4);
$navbar-nav-link-padding-y: map-get($spacers, 4);
$nav-link-padding-x: 0.8rem;

$modal-md: 700px;

/* progress */

$progress-bg				: $gray-lighter;
$progress-box-shadow		: none;

/* dropdowns */

$dropdown-padding-y         : 0;