.opc-Flipcard .opc-Flipcard-inner {
  position: relative;
  width: 100%;
}
.opc-Flipcard .opc-Flipcard-face {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  transition: 0.5s;
}
.opc-Flipcard.opc-Flipcard-v .opc-Flipcard-front {
  transform: rotateX(0deg);
}
.opc-Flipcard.opc-Flipcard-v .opc-Flipcard-back {
  transform: rotateX(180deg);
}
.opc-Flipcard.opc-Flipcard-v .opc-Flipcard-flipped .opc-Flipcard-front {
  transform: rotateX(-180deg);
}
.opc-Flipcard.opc-Flipcard-v .opc-Flipcard-flipped .opc-Flipcard-back {
  transform: rotateX(0deg);
}
.opc-Flipcard.opc-Flipcard-h .opc-Flipcard-front {
  transform: rotateY(0deg);
}
.opc-Flipcard.opc-Flipcard-h .opc-Flipcard-back {
  transform: rotateY(180deg);
}
.opc-Flipcard.opc-Flipcard-h .opc-Flipcard-flipped .opc-Flipcard-front {
  transform: rotateY(-180deg);
}
.opc-Flipcard.opc-Flipcard-h .opc-Flipcard-flipped .opc-Flipcard-back {
  transform: rotateY(0deg);
}

/*# sourceMappingURL=Flipcard.css.map */
