@charset "UTF-8";
@font-face {
  font-family: "Open Sans";
  src: local("OpenSans-Regular"), local("OpenSans-Regular"), url("../../../templates/NOVA/themes/base/fonts/opensans/open-sans-regular.eot?") format("eot"), url("../../../templates/NOVA/themes/base/fonts/opensans/open-sans-regular.woff2") format("woff2"), url("../../../templates/NOVA/themes/base/fonts/opensans/open-sans-regular.woff") format("woff"), url("../../../templates/NOVA/themes/base/fonts/opensans/open-sans-regular.ttf") format("truetype"), url("../../../templates/NOVA/themes/base/fonts/opensans/open-sans-regular.svg#Open_Sans") format("svg");
  font-style: normal;
  font-weight: 400;
}
.fa {
  font-family: FontAwesome !important;
  font-style: normal !important;
  font-weight: normal !important;
}
.fa.fa-youtube-square:before {
  content: "" !important;
}

[data-portlet] {
  margin: 8px;
  min-height: 2em;
  border: 1px solid #5cbcf6 !important;
  border-radius: 5px;
  position: relative;
  z-index: 19;
}

.opc-rootarea > .opc-droptarget {
  margin: 16px;
}
.opc-rootarea > [data-portlet] {
  margin: 16px;
}

.opc-area {
  min-height: 2em;
  padding: 0;
}

.opc-dragged {
  opacity: 0.5;
  box-shadow: 4px 4px 4px #000;
  position: relative;
  top: -4px;
  left: -4px;
}

.opc-hovered {
  cursor: pointer;
}

.opc-selected {
  cursor: pointer;
}

.opc-droptarget {
  margin: 8px;
  color: #5cbcf6;
  border: 1px dashed #5cbcf6;
  border-radius: 5px;
  background-color: #f7fcff;
  height: 38px;
  position: relative;
  z-index: 0;
  transition: background-color 0.25s;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  padding: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0.75;
  cursor: default;
}
.opc-droptarget:hover .opc-droptarget-hover, .opc-droptarget.opc-active-droptarget .opc-droptarget-hover {
  display: block;
}
.opc-droptarget .opc-droptarget-hover {
  display: none;
}
.opc-droptarget .opc-droptarget-info {
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
}

.opc-active-droptarget {
  background-color: rgba(92, 188, 246, 0.35);
}

.opc-droptarget-icon {
  width: 20px;
  margin-right: 10px;
  margin-top: -2px;
}

.opc-portlet-toolbar {
  z-index: 19;
  display: flex;
  font-size: 12px;
}
.opc-portlet-toolbar .opc-toolbar-btn {
  border: none;
  background: #fff;
  padding: 4px 12px;
  border-top: 1px solid #5cbcf6;
  border-bottom: 1px solid #5cbcf6;
  color: #435A6B;
}
.opc-portlet-toolbar .opc-toolbar-btn:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.opc-portlet-toolbar .opc-toolbar-btn:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-right: 1px solid #5cbcf6;
}
.opc-portlet-toolbar .opc-label {
  background: #5cbcf6;
  color: #fff;
  padding: 4px 12px;
  background-color: #5cbcf6;
}
.opc-label {
  z-index: 19;
  background-color: #abd1f6;
  color: #fff;
  font-size: 12px;
  padding: 4px 12px;
  border-radius: 4px;
}

/*# sourceMappingURL=iframe.css.map */
