@import "variables";

// Compatibility for Evo with FontAwesome 5 included in the page preview
.fa {
    font-family: FontAwesome !important;
    font-style: normal !important;
    font-weight: normal !important;

    &.fa-youtube-square:before {
        content: "\f166" !important;
    }
}

[data-portlet] {
    margin: 8px;
    min-height: 2em;
    border: 1px solid $primary-color !important;
    border-radius: 5px;
    position: relative;
    z-index: 19;
}

.opc-rootarea {
    > .opc-droptarget {
        margin: 16px;
    }

    > [data-portlet] {
        margin: 16px;
    }
}

.opc-area {
    min-height: 2em;
    padding: 0;
}

.opc-dragged {
    opacity: 0.5;
    box-shadow: 4px 4px 4px #000;
    position: relative;
    top: -4px;
    left: -4px;
}

.opc-hovered {
    cursor: pointer;
}

.opc-selected {
    cursor: pointer;
}

.opc-droptarget {
    margin: 8px;
    color: $primary-color;
    border: 1px dashed $primary-color;
    border-radius: 5px;
    background-color: #f7fcff;
    height: 38px;
    position: relative;
    z-index: 0;
    transition: background-color 0.25s;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    padding: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0.75;
    cursor: default;

    &:hover ,
    &.opc-active-droptarget {
        .opc-droptarget-hover {
            display: block;
        }
    }

    .opc-droptarget-hover {
        display: none;
    }

    .opc-droptarget-info {
        position: absolute;
        right: 8px;
        top: 8px;
        cursor: pointer;
    }
}

.opc-active-droptarget {
    background-color: rgba(92, 188, 246, 0.35);
}

.opc-droptarget-icon {
    width: 20px;
    margin-right: 10px;
    margin-top: -2px;
}

.opc-portlet-toolbar {
    z-index: 19;
    display: flex;
    font-size: 12px;

    .opc-toolbar-btn {
        border: none;
        background: #fff;
        padding: 4px 12px;
        border-top: 1px solid $primary-color;
        border-bottom: 1px solid $primary-color;
        color: $text-color;

        &:first-child {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        &:last-child{
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            border-right: 1px solid $primary-color;
        }

        &:hover {
        }
    }

    .opc-label {
        background: $primary-color;
        color: #fff;
        padding: 4px 12px;
        background-color: $primary-color;

        &:hover {
        }
    }
}

.opc-label {
    z-index: 19;
    background-color: #abd1f6;
    color: #fff;
    font-size: 12px;
    padding: 4px 12px;
    border-radius: 4px;
}