<div id="loaderModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{__('Please wait...')}</h5>
            </div>
            <div class="modal-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-info progress-bar-animated"
                         style="width:100%">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>